body {
  text-align: left;
}
.App-header {
  width: 100%;
  background-color: black;
  color: #eee;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 500;
  padding: 5px 10px;
  box-sizing: border-box;
}
.post {
  margin-left: 1rem;
}
